body {
  margin-top: 40px;
  display: grid;
}

#editor {
  display: flex;
  flex-direction: row;
  height: min-content;
  /* height: 400px; */
  height: 29.7cm;
}

#toolbox {
  width: 100px;
  background-color: #f0f0f0;
  border-radius: 18px;
  padding: 10px;
  border: 1px solid black;
}

#canvas {
  /* position: absolute; */
  flex: 1;
  background-color: #fff;
  border: 2px solid #ccc;
  size: 21cm 29.7cm;
  /* width: 800px; */
  /* height: 800px; */
  margin-left: 200px;
  margin-right: 200px;
}

.tool {
  cursor: pointer;
  text-align: center;
  align-content: center;
  /* margin-left: 5px; */
  /* margin-right: 5px; */
  margin-bottom: 10px;
  aspect-ratio: 1;
  border-radius: 15px;
  border-width: 2px;
  border: 2px solid gray;
  background-color: white;
}

.delete-button {
  background-image: url("/trash.fill.png");
  background-size: 55%;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  font-size: small;
  color: white;
  background-color: red;
  width: 20px;
  height: 20px;
  text-align: center;
  border-width: 0px;
  border-radius: 50%;
}

.download-button {
  width: fit-content;
  /* max-width: fit-content; */
  height: 40px;
  /* aspect-ratio: 1; */
  border-radius: 15px;
  border-width: 0px;
  margin-right: 10px;
  color: white;
  padding: 10px;
  background-color: #e92b2b;
}

.download-button:hover {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid;
}

#property-sidebar {
  width: 100px;
  padding: 10px;
  margin-right: 10px;
  background-color: #f0f0f0;
  border: 1px solid black;
  /* border-width: 2px;
  border-color: black; */
  border-radius: 18px;
}