body {
  background-color: #cccccc22;
}

#editor {
  display: flex;
  flex-direction: row;
}

#toolbox {
  width: 80px;
  border-radius: 18px;
  padding-left: 8px;
  padding-right: 10px;
  height: fit-content;
  background-color: rgba(255, 0, 0, 0.08);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.position-property input {
  width: 64px;
  border: 1px solid black;
  padding: 2px 4px;
  border-radius: 24px;
}

.size-property {
  display: flex;
}

.size-property input {
  margin-right: 0;
  margin-left: auto;
  width: 64px;
  border: 1px solid black;
  border-radius: 24px;
  margin-bottom: 4px;
}

#canvas {
  position: relative;
  background-color: #fff;
  border: 2px solid #ccc;
  width: 21cm;
  height: 29.7cm;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tool {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  align-content: center;
  margin-top: 8px;
  margin-bottom: 8px;
  aspect-ratio: 1;
  background-size: 80%;
  border-radius: 15px;
  border-width: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: all .15s ease-in-out;
}

.tool img {
  max-width: 35%; 
  max-height: 35%; 
  display: block; 
  margin: auto;
}

.tool:hover {
  transform: scale(1.15);
}

.delete-button {
  background: url("/images/trash.fill.png") no-repeat;
  background-size: 50%;
  background-position-x: center;
  background-position-y: center;
  font-size: small;
  color: white;
  background-color: red;
  width: 16px;
  height: 16px;
  text-align: center;
  border-width: 0px;
  border-radius: 50%;
  margin-left: -12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.save-default-button {
  background-color: rgb(5, 185, 5);
}

button {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  border-width: 0px;
  margin-right: 10px;
  color: white;
  padding: 10px;
  background-color: #e92b2b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 8px;
  opacity: 0.9;
}

button:hover {
  opacity: 1.0;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid;
}

.resize-handle {
  background: url("/images/resizer.png") no-repeat;
  background-size: contain;
  position: absolute;
  right: -6px;
  bottom: -6px;
  height: 12px;
  width: 12px;
}

.resize-handle:hover {
  cursor: nwse-resize;
}

#property-sidebar {
  width: 220px;
  height: fit-content;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 18px;
  margin-left: auto; 
  margin-right: 10px;
}

#property-div {
  margin-top: 4px;
  margin-bottom: 4px;
}

#property-div input[type="number"] {
  border: none;
  background-color: inherit;
}

#property-div input[type="number"]::-webkit-inner-spin-button {
  opacity: 1
}

.topnav {
  margin-bottom: 20px;
}

.buttons {
  width: 158px;
  display: grid;
  height: fit-content;
}

.save-button {
  background-color: rgb(5, 185, 5);
}

.element .text-field {
  border: 1px solid black;
  min-height: 20px;
}

.element .box {
  border: 1px solid black;
}

.filename-input {
  width: 232px;
  margin-bottom: 20px;
  height: 20px;
  border-radius: 15px;
  padding: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: none;
}

#alert {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 100px;
  width: 240px;
  background-color: rgba(255, 0, 0);
  opacity: 0.9;
  z-index: 10;
  border-radius: 15px;
  text-align: center;
  align-content: center;
  color: white;
  transition: all 0.3s ease-out;
  transform: translate(120%, 0);
  padding: 8px;
}

.active {
  transform: translate(0, 0) !important;
}

.element {
  position: relative;
  margin: 0 0 40px;
  cursor: move;
}

.element div {
  cursor: default;
}

.image-element:hover::after {
  position: absolute;
  top: 32px;
  left: 8px;
  content: "Click to add image";
  display: flex;
  text-align: center;
  margin: 8px
}

.file-picker:hover {
  cursor: pointer;
}

.image-element img {
  width: 100%;
  height: 100%;
}

.file-picker {
  font-size: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  width: inherit;
  height: inherit;
  opacity: 0;
}

.check-box-container {
  border: 1px solid black;
}

.check-box {
  width: inherit;
  height: inherit;
  object-fit: contain;
}

.check-box:hover {
  cursor: pointer;
}

.radio-button-container {
  border: 1px solid black;
  border-radius: 50%;
}

.radio-button-container:hover {
  cursor: pointer;
}

.name-input {
  margin-left: 4px;
  padding-left: 4px;
  border: none;
  padding-right: 4px;
  border-radius: 16px;
  width: 100%;
  height: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 0.8rem;
}

.alignment-input [type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.alignment-input [type=radio] + img {
  cursor: pointer;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 6px;
  border: 6px solid black;
  margin: 0 4px;
}

.alignment-input [type=radio]:checked + img {
  background-color: rgb(92, 92, 92);
  border: 6px solid rgb(92, 92, 92);
}

.alignment-input {
  margin-left: -4px;
}