#template-list {
  width: 100%;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 12px;
  padding-top: 12px;
}

#template-div {
  display: flex;
  width: calc(100% - 20px);
  height: 48px;
  margin-top: 20px;
}

.editor-link {
  margin-left: auto;
  margin-right: -20px;
  background-color: rgb(5, 185, 5);
  border-radius: 50%;
  align-content: center;
  height: 24px;
  width: 24px;
  text-align: center;
  align-self: last baseline;
}

.editor-link img {
  height: 14px;
  width: 14px;
  margin-top: 4px;
}

.doc-image {
  height: 50%;
  margin-left: 24px;
}

.pdf-item {
  height: 120px;
  border: 1px solid gray;
  border-radius: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  align-content: center;
}

.edit-button, .delete-button {
  border-radius: 15px;
  height: 30px;
  width: 64px;
  border: 0px;
  background-color: gray;
  color: white;
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}

.delete-button {
  background-color: red;
}