#template-list, #default-template-list {
  width: calc(100% - 4px);
  border-radius: 15px;
  margin-top: 12px;
  padding-top: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 0, 0, 0.08);
  padding-bottom: 2px;
}

#template-div {
  display: flex;
  height: 48px;
  margin-top: 20px;
}

.editor-link {
  margin-left: auto;
  margin-right: 0px;
  background-color: rgb(5, 185, 5);
  border-radius: 50%;
  align-content: center;
  height: 24px;
  width: 24px;
  text-align: center;
  align-self: last baseline;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.editor-link img {
  height: 14px;
  width: 14px;
  margin-top: 4px;
}

.doc-image {
  height: 50%;
  margin-left: 24px;
}

.pdf-item {
  height: 120px;
  border-radius: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  align-content: center;
  place-items: center start;
  display: flex;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.edit-button, .delete-button {
  border-radius: 15px;
  height: 30px;
  width: 64px;
  border: 0px;
  background-color: gray;
  color: white;
  margin-left: auto;
  margin-right: 10px;
}

.edit-button:hover, .delete-button:hover {
  cursor: pointer;
}

.delete-button {
  background-color: red;
  margin-right: 0px;
}

.buttons-div {
  margin-top: auto;
  margin-bottom: 0;
}

.filename {
  margin-bottom: 10px;
}