.main {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.main .card {
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.main .card table {
  height: 140px;
  width: 100%;
  border: none;
  padding: 0 10px;
  padding-bottom: 16px;
}