body {
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  background-color: white;
  position: relative;
}

.topnav #myLinks {
  display: none;
  position: absolute;
  text-align: right;
  right: 0;
  border-radius: 15px;
  background-color: rgba(255, 0, 0, 0.08);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.topnav img {
  height: 24px;
  margin: -10px;
  margin-left: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  background-color: white;
  padding: 4px;
}

.active {
  background-color: #e92b2bd2;
  color: white;
  border-radius: 15px;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

#myLinks a {
  color: black;
}

.topnav a.icon {
  background: #262626;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.topnav a.icon:hover {
  cursor: pointer;
}

.topnav #myLinks div {
  background-color: white;
  text-decoration: none;
  font-size: 17px;
  display: block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#contact, #about {
  margin-left: auto;
  margin-right: 0;
}

.fa {
  color: white;
}

#logo {
  width: min-content;
  height: max-content;
}